<ul>
  <li *ngFor="let country of data.values">
    <div>
    <span style="padding-right: 5px;" #expandBtn (click)="expandClick($event)" class="expand-btn">+</span>
   <span >{{country.name}}</span></div>
    <ul class="remove-padding">
      <li *ngFor="let zones of country.values">
        <ul>
          <li *ngFor="let z of zones.values">
            <div>
              <span style="padding-right: 5px;" (click)="expandClick($event)" class="expand-btn">+</span>
              <span >{{z.name}}</span></div>
            <ul class="remove-padding">
              <li *ngFor="let state of z.values">
               <ul>
                 <li *ngFor="let statedetails of state.values">
                  <div>
                    <span style="padding-right: 5px;" (click)="expandClick($event)" class="expand-btn">+</span>
                    <span >{{statedetails.name}}</span></div>
                    <ul>
                      <li *ngFor="let std of statedetails.value">
                        {{std.name}}:{{convertNumbers(std.value)}}
                      </li>
                    </ul>
                 </li>
               </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<button (click)="expandAll()">ExpandAll</button>
<button (click)="collapseAll()">CollapseAll</button>
